<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bread</title>
</head>
<body>
    <H1>Breads</H1>
    <table>
        <tr>
            <th>Name</th>
            <th>Desrciption</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <% for (var i = 0; i < breads.length; i++) { %>
        <tr>
            <td><%= breads[i].name %></td>
            <td><%= breads[i].description %></td>
            <td><%= breads[i].price %></td>
            <td>
                <a href="/bread/<%= breads[i].id %>">View</a>
                <a href="/edit/<%= breads[i].id %>">Edit</a> 
                <a href="/delete/<%= breads[i].id %>">Delete</a>
            </td>
        </tr>
        <% } %>
    </table>
    <a href="/create">create new Breads</a>
</body>
</html>